<%= selectable_f f, :cni_provider, compute_resource.cni_providers, {},
                    :class => "col-md-3 kubevirt-cni-provider",
                    :disabled => !new_vm,
                    :label => _('CNI Provider'),
                    :label_size => "col-md-3",
                    :onchange => "cniProviderSelected(this)" %>

<% pod = f.object.cni_provider == 'pod' %>

<div id='networks' class='<%= 'hide' if pod %>'>
<%= select_f f, :network,
                compute_resource.networks,
                :id,
                :name,
                {},
                :data => { tags: true },
                :disabled => !new_vm || pod,
                :class => "col-md-3 kubevirt-network",
                :label => _('Network'),
                :label_size => "col-md-3" %>
</div>
